.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  text-align: center;
  padding: inherit;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  margin-right:100px;
  display: inline-block;
  text-align: center;


}

.button1:hover {

  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  margin-right:100px;

}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.button3 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  margin-right:100px;

}

.button3:hover {
  background-color: #008CBA;
  color: white;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  margin-right:100px;

}

.button4:hover {
  background-color: #008CBA;
  color: white;
}
.button5 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  margin-right:100px;

}

.button5:hover {
  background-color: #008CBA;
  color: white;
}
.button6 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
  margin-right:100px;

}

.button6:hover {
  background-color: #008CBA;
  color: white;
}
#leftbox {
  float:left;

  width:25%;
  height:280px;
  }
  #middlebox{
    float:left;

    width:10%;
    height:180px;
  }
  #rightbox{
      float:right;

      width:25%;
      height:280px;
  }
  .start{
    background-color: white;
    color: black;
    border: 8px solid #008CBA;
    margin-right:100px;
    padding: 50,50,30;
  }
  .start:hover {
    background-color: #008CBA;
    color: white;
  }
